@model Piggyzen.Web.Features.Tag.Details.Model

<h2>Tag Details</h2>

<div class="mb-3">
    <h4>Name:</h4>
    <p>@Model.Name</p>
</div>

<div class="mb-3">
    <h4>Type:</h4>
    <p>@Model.Type</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>